#todos {
    display: flex;
    flex-direction: column;
    gap: var(--pd-default);

    min-width: var(--min-width);
    margin-top: 20px;
}

#todos > ul {
    display: flex;
    flex-direction: column;
    
    gap: var(--pd-medium);
}

#todos > ul li {
    background-color: var(--color-secondary);
    border-radius: var(--radius-default);
    padding: var(--pd-medium) var(--pd-default);
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.todo-item .todo-status {
    aspect-ratio: 1;
    width: 15px;
    border-radius: 4px;
}