button {
    background-color: var(--color-five);

    padding: var(--pd-medium) var(--pd-default);

    border-radius: var(--radius-default);
    border: none;

    text-transform: uppercase;
    font-weight: bold;

    box-shadow: var(--shadow-default);

    transition: box-shadow .5s ease-out;
}

button:active {
    box-shadow: none;
}