#todos {
    display: flex;
    flex-direction: column;
    gap: var(--pd-default);

    min-width: var(--min-width);
}

#todos > ul {
    display: flex;
    flex-direction: column;
    
    gap: var(--pd-medium);
}

#todos > ul > li {
    /* border: 2px solid; */

    background-color: var(--color-secondary);
    border-radius: var(--radius-default);
    padding: var(--pd-medium) var(--pd-default);

    display: flex;
    justify-content: space-between;
    align-items: center;
}