@import url('./variables.css');
@import url('./reset.css');
@import url('./basics/index.css');

@import url('./main.css');
@import url('./form-search.css');
@import url('./todo-list.css');

body {
    font-family: sans-serif, Helvetica, Arial;
    min-height: 100%;
    width: 100%;
    
    background-color: var(--color-primary);
    color: var(--bg-primary);
}