@import url('./variables.css');
@import url('./reset.css');

@import url('./main.css');

body {
    font-family: sans-serif, Helvetica, Arial;
    min-height: 100%;
    max-width: var(--max-width);

    background-color: var(--color-primary);
    color: var(--bg-primary);
}