@import url('./variables.css');
@import url('./reset.css');

body {
    font-family: sans-serif, Helvetica, Arial;
    min-height: 100%;
    max-width: var(--max-width);

    background-color: var(--color-primary);
    color: var(--bg-primary);
}

.main {
    margin: var(--margin-center);
    padding: var(--pd-default);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pd-medium);
}