.main {
    gap: calc(var(--pad-default) * 2);
}

.hero {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        opacity: .7;
    }

    .hero__logo {
        width: 50%;
        margin: 20px 0;
    }
}