.main {
    margin: var(--margin-center);
    padding: var(--pad-default);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pad-medium);
}

.main-header {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        opacity: .7;
    }
}