.input {
    width: 100%;
    background-color: var(--color-secondary);
    flex-grow: 1;
    padding: var(--pad-medium) var(--pad-default);
    border: none;
    border-radius: var(--radius-default);
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: inset var(--shadow-default);
}

.button {
    background-color: var(--color-five);
    padding: var(--pad-medium) var(--pad-default);

    border-radius: var(--radius-default);
    border: none;

    text-transform: uppercase;
    font-weight: bold;

    box-shadow: var(--shadow-default);

    transition: box-shadow .5s ease-out;

    &:active {
        box-shadow: inset var(--shadow-default);
    }
}

.container {
    width: 100%;
    max-width: var(--max-width);
    
    margin: 40px auto;
    padding: var(--pad-default);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}